.idea
.DS_Store
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/src/Galerija/ImagesBundle/Resources/public/images/monotone_arrow_right.png
