<!DOCTYPE html>
<html>
<head>
    <title>Galerijos link</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% stylesheets '@GalerijaImagesBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.13.0/build/cssnormalize/cssnormalize-min.css">
</head>
<body>
<div id="overlay_wrapper">
    <div id="overlay">
    </div>
    {% block prisijungimas %}
    {% endblock %}
</div>
<div id="topmenu">
    <ul>
        <li id="profile_button">
            <a>
                {% block username %}
                {% endblock %}
            </a>
        </li>
    </ul>
</div>
{% block images %}
{% endblock %}
</body>

{% javascripts '@GalerijaImagesBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</html>
