{% extends 'GalerijaImagesBundle:Default:index.html.twig' %}
{% block topmenu %}
    <img src="{{ asset('bundles/GalerijaImages/images/right_arrow.png') }}" alt="Dešinė"/>
<div>
  <a href="">

      {{ album.getShortComment() }}
  </a>
</div>
{% endblock %}
{% block search %}
    <textarea placeholder="Paieška pagal tag'us..." cols="25" maxlength="25" id="tag_filter" rows="1"></textarea>
{% endblock %}
{% block list %}
    {% block imglist %}
    <div aID="{{ album.albumId }}" class="list">
        {% for image in album.getImages() %}
            {% include 'GalerijaImagesBundle:Default:single_image.html.twig' %}
        {% endfor %}
    </div>
    <div class="form_wrapper" id="form_array">
        <h3>Įkelti paveiksliuka</h3>
        {% include "GalerijaImagesBundle:Forms:image_upload.html.twig" %}
        <h3>Sukurti tag'ą</h3>
        {% include "GalerijaImagesBundle:Forms:tag_create.html.twig" %}
    </div>
    {% endblock imglist %}
    <div id="delete-dialog" title="Trinimo dialogas">
        <p>Kaip ištrinti? </p>
        <p>(Jei trinate iš savo įkeltų nuotraukų albumo, galima ištrinti tik iš visų albumų)</p>
    </div>
{% endblock list %}
