
<div class="block">

    <div class="centered">
        <img alt="{{ image.getPavadinimas() }}" src="{{  asset(image.getWebPath()) }}"/>
    </div>

</div>
<div class="comments">
<ul>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>

</ul>
    {{ form(form , {'attr': {'id': 'form_image_add'}}) }}
</div>
