
<div class="block" style="height:100%; width:60%;position:absolute">

    <div class="centered">
        <img style="max-width:100%;max-height:100%;" alt="{{ image.getPavadinimas() }}" src="{{  asset(image.getWebPath()) }}"/>
    </div>

</div>
<div class="comments">
<ul>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>

</ul>
    <div style="clear: both;"></div>
    {{ form(form) }}
</div>
