{% extends '::base.html.twig' %}

{# patikriniam ar prisijungęs ir pakeičiam topmenu užrašą #}
{% block username %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ user.username }}
    {% else %}
        Prisijungimas
    {% endif %}
{% endblock %}

{% block prisijungimas %}
    {% include "GalerijaImagesBundle:User:profile_control.html.twig" %}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash" id="success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash" id="error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% block list %}
    {% endblock %}
{% endblock %}

