{{ form_start(tag_form) }}
<fieldset class="form">
    <legend>Sukurti tag'ą</legend>
    {{ form_row(tag_form.name) }}
    <div>
        {{ form_row(tag_form.Sukurti) }}
       </div>
</fieldset>
{{ form_end(tag_form) }}