.comments
{
  float:right;
  width:15%;
  height:100%;
  padding-right:5%;
  text-align:right;
}
.comments > ul{
    height: 70%;
    width: 100%;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    text-align:left;
    word-wrap: break-word;
    padding:0;
}
.comments > form{

    height:30%;
}

.myclass.fancybox-opened .fancybox-next {
    right: 30%;
}