.form_wrapper
{
    margin: 0 auto;
    width: 30em;
    font-family: "Courier New", Courier, monospace;
    font-size:1em;
}
#form_array
{
    margin: 0 auto;
}
.form
{
    clear:both;
    background: #ffffff;
    border: 1px solid #000000;
    min-width:25em;
    font-size:1em;
}
.form legend
{
    background: inherit;
    padding: 0.2em 0.5em;
    border:1px solid;
    text-align:right;
}
.form div
{
    margin-top:0.5em;
}
.form textarea
{
    width:15em;
}
.form input
{
    width:15em;
}
.form button
{
    float:right;
    clear:both;
}
.form label
{
    float:left;
    width:30%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;

}
#image_upload_albums, #image_upload_tags
{
    width: 15em;
}
#albumas
{
    width:30em;
}
#albumas label
{
    font-size:0.8em;
    width:40%;
}
.prisijungimas
{
    font-size:1em;
    border: 0;
    min-width:24em;
    background: inherit;
}
#right
{
    float: right;
    margin-left:0.5em;

}
#left
{
    margin-right:0.5em;
    float: left;
}
#album_create_auto_add
{
    float:left;
}
#remember
{
    float:right;
}
#remember label
{
    width:auto;
}
#album_create_auto_add,
#remember input
{
    width:1em;
}
.meter {
    height: 20px;
    position: relative;
    background: #555;
    padding: 10px;
    display: none;
}
.meter > span {
    display: block;
    height: 100%;
    background-color: rgb(81, 139, 194);
    position: relative;
    overflow: hidden;
}
.spacer
{
    clear:both;
}