.list div
{
    float: left;
}
.image:hover .disappear
{
    display: block;
    cursor:pointer;

}
.image > a img:first-child
{
    margin: 0.6em;
    box-shadow: 0.2em 0.3em 0.25em #525557;
    height: auto;
    width: auto;
    max-height: 20em;
    max-width: 20em;
}
