.image_panel
{
    padding:0;
    margin:0;
    float:right;
    width:20%;
    height:100%;
    padding-right:5%;
    text-align:right;

}
.comments
{
    border: solid black 1px;
    padding:0;
    margin:0;
    height:90%;
    overflow:hidden;

}
.comments > ul{
    height: 75%;
    width: 100%;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    text-align:left;
    word-wrap: break-word;
    padding:0;
    margin:0;
    border-bottom: solid black 1px;
}
.comments li
{
    position:relative;
}
.comments li:hover .disappear
{
    display: block;
    cursor: pointer;
}
.comments textarea{
    width: 95%;
    padding:0;
}
.comments > form{
    height:20%;
}
#comment_post
{
    height:100%;

}
#comment_post div:first-child
{
    height:90%;
}
.comments input
{
    height:5%;
}
.comments textarea
{
    resize: none;
    height:60%;
}

.block {
    text-align: center;
    height:100%;
    width:70%;
    position:absolute;
    background:black;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 95%;
}
.centered > img
{
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}
.like
{
    text-align:left;
    overflow:hidden;
    height:5%;
}
.like img
{
    width:1em;
    height:1em;
}
.like > span
{
    background:white;
}
#image_accordion
{
    font-size: 1em;
    margin-bottom:0.5em;
    width:100%;
    height: 95%;
}
#image_accordion .ui-accordion-content {
    padding: 0;
    overflow:hidden;
}
#image_accordion h3 {
    margin:0;
    padding: 0;
}
.tags
{
    text-align: left;
}
.image_title
{
    top: 0;
}
.image_description
{
    bottom: 0;
}
.image_texts
{
    position: absolute;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    color:white;
    font-size:2em;
    display:none;
    width: 100%;
    text-align: center;
}