#image > img {
    margin: 10px;
    box-shadow: 3px 5px 4px #525557;
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 400px;
}
input {
    font-family: sans-serif;
}
a{
    font-weight: bold;
    text-decoration: none;

}
body{
    padding:0;
    margin:0;
    background:ghostwhite;
    font-family: Courier;
}
#image:hover input {
    display: block;
}

#image input {
    top: 0;
    right: 0;
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;

}

#msgok {
    border: 3px solid #28b139;
}

#msgerr {
    border: 3px solid #c66257;
}

.msg {
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#imglist ul {
    list-style-type: none;
}

#imglist li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}
#topmenu {
    background: rgb(49, 49, 49);
    overflow: auto;
}
#topmenu ul {
    list-style-type: none;
    position: relative;
    height: 40px;
    margin:0;
}
#topmenu li {
    cursor: pointer;
    height: 40px;
    padding-right:20px;
    padding-left:10px;
    border-left: 2px solid;
    border-color: ghostwhite;
    font-family: Courier;
    font-weight: bold;
    color:ghostwhite;
    right:0;
    bottom:0;
    display: inline-block;
    list-style-type: none;
    position:absolute;
    line-height:40px;
}
#topmenu li > a{
    display: block;
    color: ghostwhite;
}
#topmenu li:hover {
    background: darkgrey;
}
#overlay_wrapper{
    display: none;
}
.prisijungimas
{
    padding: 15px 15px 15px;
}
.prisijungimas p
{
    text-align: right;
}
.prisijungimas li
{
    margin-top:10px;
}
#title.prisijungimas
{
    padding:15px;
    border-bottom: 3px solid #dce1c6;
    font-weight: bold;
}
.prisijungimas_wrapper
{
    position: absolute;
    height:200px;
    width:400px;
    top:50%;
    left:50%;
    margin:-100px 0 0 -200px;
    line-height: 0;
    background: white;
    z-index: 2;
}
.prisijungimas_wrapper ul
{
    list-style-type: none;
}
.vart_wrapper
{
    position: absolute;
    height:200px;
    width:400px;
    top:50%;
    left:50%;
    margin:-100px 0 0 -200px;
    line-height: 0;
    background: white;
    z-index: 2;
}
.vart_informacija
{
    padding: 15px 15px 15px;
}
#title.vart_informacija
{
    padding:15px;
    border-bottom: 3px solid #dce1c6;
    font-weight: bold;
}
#overlay
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.8;
    width:100%;
    height:100%;
}
.flash
{
    margin: 0 auto;
    height: 50px;
    width: 400px;
    border: 3px solid;
    border-top: 0px;
    text-align: center;
}
#success.flash
{
    background: rgba(92, 177, 87, 0.83);
}
#error.flash
{
    background: rgba(177, 35, 41, 0.82);
}
#form
{
    background: #bdbdbd;
    border: 1px solid #000000;
    margin: 0 auto;
}
.album
{
    background: #fff;
    border: solid 1px #ccc;
    padding: 4px;
    float:left;
}
.album img
{
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}
.album p
{
    padding:5px;
}