<div class="prisijungimas_wrapper">
    <div class="prisijungimas">
        <div class="prisijungimas" id="title">
            Prisijungimas
        </div>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ token }}" />
            <ul>
                <li>
                    <input id="username" type="text" name="_username" placeholder="Username or E-mail" size="30" required="required">
                </li>

                <li>
                    <input id="password" type="password" name="_password" placeholder="Password" size="30" required="required">
                </li>
                <p>
                    <label for="remember_me">Prisiminti</label>
                    <input type="checkbox"  name="_remember_me" value="on" />
                </p>
            </ul>
            <p><input type="submit" id="_submit" name="_submit" value="Prisijungti" /></p>
        </form>
    </div>
</div>