<div class="panel_wrapper" id="user_panel">
    <div class="panel">
        <div class="panel_title">
            Vartotojo informacija
        </div>

        <p>Vardas: {{ user.username }}</p>

        <p>E-Mail: {{ user.email }}</p>

        <p><a href="{{ path('galerija_images_user', {'userId': user.id}) }}">Mano nuotraukos.</a></p>
        <form action="{{ path('fos_user_security_logout') }}">
            <input type="submit" value="Atsijungti">
        </form>
    </div>
</div>